body {
  margin: 0;
  overflow-x: hidden;
}
/* --------------------HOME PAGE------------------------- */
#homePage.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#homePage.container .doodle {
  width: 300px;
}

#homePage .searchBox {
  margin-top: 15px;
  display: flex;
}

#homePage .searchBox input {
  height: 30px;
  width: 500px;
  border: 0;
  padding: 4px 12px;
  border-radius: 20px;
  border: 1px solid rgb(172, 172, 172);
  position: relative;
  left: 10px;
}

#homePage .searchBox input:focus {
  outline: 0;
}

#homePage .searchBox input:hover {
  box-shadow: 0px 0px 10px #8080808f;
}

#homePage .searchBox svg {
  width: 30px;
  position: relative;
  left: -30px;
}

#homePage button {
  margin-top: 15px;
  width: 150px;
  padding: 10px;

  border: 0;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  color: rgb(70, 70, 70);
  transition-duration: 0.3s;
}

#homePage button:focus {
  outline: 0;
}

#homePage button:hover {
  border: 1px solid grey;
}

@media only screen and (max-width: 600px) {
  #homePage.container .doodle {
    width: 180px;
  }
  #homePage .searchBox input {
    width: 185px;
  }
}
/* --------------------RESULT PAGE------------------------- */
#resultPage.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#resultPage #topRow {
  display: flex;
  padding: 25px 15px;
  align-items: center;
}

#resultPage.container .doodle {
  width: 150px;
  margin-right: 50px;
}

#resultPage .searchBox {
  display: flex;
}

#resultPage .searchBox input {
  height: 30px;
  max-width: 400px;
  min-width: 350px;
  border: 0;
  padding: 4px 12px;
  border-radius: 20px;
  border: 1px solid rgb(172, 172, 172);
  position: relative;
  left: 10px;
}

#resultPage .searchBox input:focus {
  outline: 0;
}

#resultPage .searchBox input:hover {
  box-shadow: 0px 0px 10px #8080808f;
}

#resultPage .searchBox svg {
  width: 30px;
  position: relative;
  left: -30px;
}

#resultPage button {
  width: 150px;
  padding: 10px;

  border: 0;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  color: rgb(70, 70, 70);
  transition-duration: 0.3s;
}

#resultPage button:focus {
  outline: 0;
}

#resultPage button:hover {
  border: 1px solid grey;
}

#resultPage #categoryRow ul {
  padding-left: 190px;
  border-bottom: 1px solid rgb(184, 184, 184);
}

#resultPage #categoryRow ul li {
  display: inline-block;
  list-style: none;
  color: blue;
  width: 50px;
  margin-right: 30px;
  text-align: center;
}
#resultPage #categoryRow ul li.selected {
  font-weight: bold;
  border-bottom: 2px solid blue;
  padding-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  #resultPage .doodle {
    width: 180px;
    margin-right: 0 !important;
  }
  #resultPage .searchBox input {
    max-width: 170px;
    min-width: 100px;
  }
}

@media only screen and (max-width: 600px) {
  #resultPage #topRow {
    /* width: 100%; */
    flex-direction: column;
  }
  #resultPage .doodle {
    width: 180px;
    margin-right: 0 !important;
  }
  #resultPage .searchBox {
    margin-top: 15px;
  }
  #resultPage .searchBox input {
    width: 170px;
  }
  #resultPage .searchBox button {
    width: 45px;
  }
  #resultPage #categoryRow ul {
    padding-left: 10px;
  }
}

#resultPage #categoryRow {
}
